<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Book Store</title>
</head>
<body  style="Background-color:FloralWhite;">


<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="/">Book Store</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="available_books">Available Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="my_books">My Books</a>
                </li>
            </ul>
            <div>
                <a class="nav-link text-white" href="book_register">New Book Register</a>
            </div>
        </div>
    </div>
</nav>

    <div class="container text-center my-5" >
        <h1 style="color:Tomato; font-family:fantasy"> WELCOME TO NEW BOOK STORE</h1>
        <h6 style="color:DodgerBlue; font-family:cursive; font-size: 20px">
            The wide scope of books offered by us incorporates fantasies, moral stories, showed storybooks,
            reference books, general learning books, sentence structure books, shading books, action books,
            sticker books, and more. Every one of these books is accessible in different languages. Our books
            do not simply go for building up the scholarly capacities of youngsters; rather, they are made with
            the aim of contributing towards their all-encompassing improvement. We presently add a virtual area
            to the bookstore where you can purchase books. Many thanks to you for being a piece of this adventure.
        </h6>
        <img src = "/image/bg.jpg"/>
    </div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

</body>
</html>